/* Search.css */

.search-container {
   
    height: 250vh !important;
  }
  
  .search-results {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .products-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 60px;
    margin-top: -50px;
 
    background: none !important;
  }
  
  .card {
   /* Adjusted width to fit 4 items in a row */
   width: 300px;
   height: 450px;
    padding: 20px;
    border: 1px solid transparent; /* Transparent border */
    box-shadow: 0 0 5px 5px rgba(243, 238, 238, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to top, #e3eaed 0%, #ecf2f4 100%);
    border-radius: 10px;
    margin: 15px;
  }
  
  .card-img {
    text-align: center;
  }
  
  .card-img img {
    max-width: 100%;
    height: auto;
  }
  
  .prod-info {
    padding: 10px;
  }
  
  .prod-title {
    margin-top: 0;
  }
  
  .prod-price {
    font-weight: bold;
  }
  
  .details-button,
  .add-to-cart-button {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart-button:hover {
    background-color: #0056b3;
  }
  