.form-container {
    width: 400px !important;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9) ; /* Shadow */
    width: 300px;
    background: rgb(21, 21, 21);
  }
  
  .form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  .form-container label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #ccc;
  
  }
  
  .form-container input[type="text"],
  .form-container textarea,
  .form-container input[type="number"],
  .form-container select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
  }
  
  .form-container input[type="file"] {
    display: none;
  }
  .form-container select:focus{
   box-shadow: none !important;
  }
  
  .form-container button {
    margin-top: 10px;
    padding: 12px 20px;
   background-color: #0a4da4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 12px;
    transition: 0.3s ease-in-out;
  }
  
  .form-container button:hover {
    background-color: rgb(157, 157, 239);
    color: white;
    font-weight: 800;
  }
  
  
  .form-container .upload-photo {
    margin-bottom: 20px;
  }
  
  .form-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .upload-photo{
    border: 2px  dashed rgb(248, 245, 245) !important;
    padding: 5px;
    width: 350px;
    text-align: center;
    
    margin-top: 30px !important;
  }
  

.createprodrow {
  display: flex;
}


.createprodleft {
  flex: 1;
  max-width: 200px;
 box-shadow: 5px 0px 7px -3px rgba(20, 20, 20, 0.9); /* Add border to separate left and right sections */
  
  border: none !important;
}

.createprodright {
  flex: 3;
  
  display: flex;
  flex-direction: column;
  
  justify-content: center; 
  align-items: center; /* Center content vertically */
  
  padding: 5px;
}


.createprod-container {
background: rgb(245, 245, 246);
  padding-top: 80px !important; 
  height: 100% !important;
  
  
}
